.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.brand {
    font-size: 1.1rem;
    font-weight: 600;
}

.spacer {
    flex: 1 1 auto;
}

/* Desktop */
.menu-btn {
    display: none;
}

.desktop-links {
    display: flex;
    gap: 0.5rem;
}

mat-toolbar{
    background-color: cadetblue;
}

/* Mobile */
@media (max-width: 768px) {
    .menu-btn {
        display: inline-flex;
    }

    .desktop-links {
        display: none;
    }
}