<mat-sidenav-container class="layout-container">

    <mat-sidenav mode="over" [opened]="sidenavOpen()" (closedStart)="closeSidenav()">
        <nav class="mobile-links">
            <a mat-button routerLink="/" (click)="closeSidenav()">Home</a>
            <a mat-button routerLink="/trips" (click)="closeSidenav()">Trips</a>
            <a mat-button routerLink="/login" (click)="closeSidenav()">Login</a>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>

        <app-navbar (menuClick)="toggleSidenav()"></app-navbar>

        <main class="app-content">
            <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>

</mat-sidenav-container>